// fonts
@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Oswald');

$white: #FFF;
$primary: #373737;
$primary: #0a1612;
$primary-lite: lighten($primary, 20%);
$primary-liter: lighten($primary, 40%);
$secondary: #C0B283;
$silk: #DCD0C0;
$paper: #F4F4F4;
$highlight: #57bc90;
$highlight: #01abaa;


// settings
body {
  font-size: 18px;
  line-height: 120%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: 'EB Garamond', serif;
  color: $primary;

  a {
    color: $primary;
  }

  h1, h2, h3, h4, h5 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: $primary;
  }

  #container {
    background: $paper;
  }

  .footer {
    background: $highlight;
    color: $primary;
    font-size: .8em;
  }
}




// mobile first header
.header {
  background: $primary;

  .desktop-header {
    display: none;
  }
}

// hamburger
.hamburger {
  position: absolute;
  right: 15px;
  top: 15px;
}



// no height mobile nav for slidedown effect
.nav {
  max-height: 0;
  overflow: hidden;
  transition: all .4s ease-in;

  &.show-menu {
    max-height: 600vh;
  }

  li {
    position: relative;
    border-top: 1px solid rgba($paper, .3);

    a {
      font-size: .9em;

      color: $silk;

      &:visited,
      &:hover,
      &:focus
      &:visited:hover,
      &:visited:focus,
      &:link,
      &:visited:link {
        color: $silk;
      }

      &:hover {
        background: darken($primary, 1%);
      }
    }

    // has sub nav
    &.menu-item-has-children {

      li a {
        background: $primary;

        &:hover {
          background: rgba($primary, .8);
        }
      }

      .fa {
        position: absolute;
        z-index: 100;
        cursor: pointer;
        right: 10px;
        top: 12px;
        font-size: 1.5em;
        color: $silk;
      }

      // sub nav
      ul {
        margin: 0;
        max-height: 0;
        overflow: hidden;
        transition: all .4s ease-in;

        &.show-submenu {
          max-height: 100vh;
        }

        ul li a {
          padding-left: 40px;
        }
      }
    }
  }
}

// site header
.header-font {
  //font-family: 'Cormorant Garamond', serif;
}

.site-header {
  text-transform: uppercase;
  font-size: 1.5em;
  margin: .5em .25em 0;
  font-weight: 700;

  a {
    text-decoration: none;
    color: $secondary;
  }
}

.site-subheader {
  color: $paper;
  font-size: 1em;
  margin: 0 0 .5em 1.4em;
}

@media (min-width:768px) {

  .header {

    .mobile-header {
      display: none;
    }

    .desktop-header {
      display: block;

      .desktop-header--logo,
      .desktop-header--contact {
        float: left;
      }

      .desktop-header--contact {
        float: right;
      }

      
      @supports (display: grid) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;  
      }
      

      img {
        width: 250px;
        height: auto;
        padding: .75em;
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .desktop-header--contact {

      }

      p {
        margin: 0;
        text-align: right;

        a {
          color: $silk;
          text-decoration: none;

          &:hover {
            color: rgba($silk, .9);
          }
        }

        &.desktop-header--contact-phone {
          font-size: 1.5em;
          margin-bottom: 1em;
        }
      }

    }
  }

  // hamburger
  .hamburger {
    display: none;
  }

  .nav {
    clear: both;
    max-height: none;
    overflow: visible;

    /*
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    */

    &:before {
      display: none;
    }

    i {
      display: none;
    }

    li {
      position: relative;
      border: none;

      a {
        //font-size: .7em;
      }

      a:hover {
        text-decoration: none;
      }

      &.menu-item-has-children {

        ul {
          max-height: none;
          overflow: visible;

          li {
            float: none;
          }

          ul li a {
            padding-left: 10px;
          }
        }
      }

      &.current-menu-item,
      &.current-menu-ancestor {

        > a {
          color: $white;
        }
      }
    }
  }
}

// elements
button {
  background: $primary;
  color: $white;
  padding: .5em;
  border: none;
  border-radius: 5px;
}

// sidebar
.sidebar {
  background: $white;
  margin-top: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 1.5em;

  @media (min-width:768px) {
    padding: 0;
  }
}

.widget_media_image {
  text-align: center;
}

.widgettitle {
  border: none;
}


// search
.searchform {

  input {
    box-sizing: border-box;
    font-family: "EB Garamond",serif;
  }
}



// Pages
#breadcrumbs {

  .home & {
    display: none;
  }

  margin: 0 0 1em 0;
  font-size: 0.8em;
  font-family: 'Oswald', sans-serif;

  a {
    color: rgba($primary, .8);
    font-weight: 400;
  }
}

.hentry {

  header {
    border: none;
    padding-bottom: .5em;

    h1 {
      margin-top: .8em;

      .home & {
        margin-top: 0;
      }
    }
  }

  .entry-content {
    padding-top: 0;
  }
}
























