@import url("https://fonts.googleapis.com/css?family=EB+Garamond|Oswald");
body {
  font-size: 18px;
  line-height: 120%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: 'EB Garamond', serif;
  color: #0a1612; }
  body a {
    color: #0a1612; }
  body h1, body h2, body h3, body h4, body h5 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #0a1612; }
  body #container {
    background: #F4F4F4; }
  body .footer {
    background: #01abaa;
    color: #0a1612;
    font-size: .8em; }

.header {
  background: #0a1612; }
  .header .desktop-header {
    display: none; }

.hamburger {
  position: absolute;
  right: 15px;
  top: 15px; }

.nav {
  max-height: 0;
  overflow: hidden;
  transition: all .4s ease-in; }
  .nav.show-menu {
    max-height: 100vh; }
  .nav li {
    position: relative;
    border-top: 1px solid rgba(244, 244, 244, 0.3); }
    .nav li a {
      font-size: .9em;
      color: #DCD0C0; }
      .nav li a:visited, .nav li a:hover, .nav li a:focus
      .nav li a:visited:hover, .nav li a:visited:focus, .nav li a:link, .nav li a:visited:link {
        color: #DCD0C0; }
      .nav li a:hover {
        background: #08120f; }
    .nav li.menu-item-has-children li a {
      background: #0a1612; }
      .nav li.menu-item-has-children li a:hover {
        background: rgba(10, 22, 18, 0.8); }
    .nav li.menu-item-has-children .fa {
      position: absolute;
      z-index: 100;
      cursor: pointer;
      right: 10px;
      top: 12px;
      font-size: 1.5em;
      color: #DCD0C0; }
    .nav li.menu-item-has-children ul {
      margin: 0;
      max-height: 0;
      overflow: hidden;
      transition: all .4s ease-in; }
      .nav li.menu-item-has-children ul.show-submenu {
        max-height: 100vh; }
      .nav li.menu-item-has-children ul ul li a {
        padding-left: 40px; }

.site-header {
  text-transform: uppercase;
  font-size: 1.5em;
  margin: .5em .25em 0;
  font-weight: 700; }
  .site-header a {
    text-decoration: none;
    color: #C0B283; }

.site-subheader {
  color: #F4F4F4;
  font-size: 1em;
  margin: 0 0 .5em 1.4em; }

@media (min-width: 768px) {
  .header .mobile-header {
    display: none; }
  .header .desktop-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em; }
    .header .desktop-header img {
      width: 250px;
      height: auto;
      padding: .75em; }
    .header .desktop-header div {
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .header .desktop-header p {
      margin: 0;
      text-align: right; }
      .header .desktop-header p a {
        color: #DCD0C0;
        text-decoration: none; }
        .header .desktop-header p a:hover {
          color: rgba(220, 208, 192, 0.9); }
      .header .desktop-header p.desktop-header--contact-phone {
        font-size: 1.5em;
        margin-bottom: 1em; }

  .hamburger {
    display: none; }

  .nav {
    max-height: none;
    overflow: visible;
    /*
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    */ }
    .nav:before {
      display: none; }
    .nav i {
      display: none; }
    .nav li {
      position: relative;
      border: none; }
      .nav li a:hover {
        text-decoration: none; }
      .nav li.menu-item-has-children ul {
        max-height: none;
        overflow: visible; }
        .nav li.menu-item-has-children ul li {
          float: none; }
        .nav li.menu-item-has-children ul ul li a {
          padding-left: 10px; }
      .nav li.current-menu-item > a, .nav li.current-menu-ancestor > a {
        color: #FFF; } }
button {
  background: #0a1612;
  color: #FFF;
  padding: .5em;
  border: none;
  border-radius: 5px; }

.sidebar {
  background: #FFF;
  margin-top: 0;
  border: 1px solid #ccc;
  border-radius: 3px; }

.widget_media_image {
  text-align: center; }

.widgettitle {
  border: none; }

.searchform input {
  box-sizing: border-box;
  font-family: "EB Garamond",serif; }

#breadcrumbs {
  margin: 0 0 1em 0;
  font-size: 0.8em;
  font-family: 'Oswald', sans-serif; }
  #breadcrumbs a {
    color: rgba(10, 22, 18, 0.8);
    font-weight: 400; }

.hentry header {
  border: none;
  padding-bottom: .5em; }
  .hentry header h1 {
    margin-top: .8em; }
.hentry .entry-content {
  padding-top: 0; }

/*# sourceMappingURL=ontrend.css.map */
